.contacts {
  margin: 0;
  padding: 0;
}

.contact {
  position: relative;
  font-weight: $font-weight-light;
  line-height: $line-height-xs;
  list-style: none;
  margin-bottom: $spacer * 2;
  padding-left: $spacer * 2;

  .icon {
    position: absolute;
    left: 0;
  }
}
