//== Knowledge Content Section
$section-kb-sidebar-width: 330px;

.section--kb {
  // .section-content,
  .section-sidebar {
    @include make-col-ready;
    @include make-col(12);
  }

  .no-gutters {
    .section-content,
    .section-sidebar {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .section-sidebar {
    @include media-breakpoint-up(lg) {
      flex-basis: $section-kb-sidebar-width;
      max-width: $section-kb-sidebar-width;
    }
  }

  .section-content {
    @include media-breakpoint-up(lg) {
      flex-basis: calc(100% - #{$section-kb-sidebar-width});
      width: calc(100% - #{$section-kb-sidebar-width});
      // max-width: map-get($container-max-widths, lg);
      margin-left: auto;
      margin-right: auto;
    }
  }

  .section-content-inner {
    padding-bottom: 0;

    @extend .section--y-lg;
    @extend .section--x-lg;

    @include media-breakpoint-up(sm) {
      padding-left: $section-lg-pl;
      padding-right: $section-lg-pr;
    }

    @include media-breakpoint-up(xl) {
      padding-left: $section-lg-pl * 3;
      padding-right: $section-lg-pr * 3;
    }
  }

  .section-header {
    margin-bottom: $spacer * 3;

    @include media-breakpoint-up(lg) {
      margin-bottom: $spacer * 5;
    }
  }

  .container > .row {
    flex-direction: column-reverse;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }
  // col-12 col-md-auto flex-grow max-w-lg mx-auto
}

//== Knowledge Base Post Type

.kb-items {
  .kb-item {
    margin-bottom: $spacer * 0.5;

    @include make-col-ready;
    @include make-col(12);

    .latest-articles & {
      @include media-breakpoint-up(md) {
        @include make-col(6);
      }
    }
  }
}

.kb-items .kb-item {
  .entry-title,
  .entry-summary {
    font-weight: $font-weight-light;
  }

  .entry-title {
    margin-bottom: $spacer * 0.5;
  }

  .entry-summary {
    opacity: 0.6;
    margin-bottom: $spacer * 2;
  }

  .entry-link {
    color: theme-color(secondary);

    @include hover-focus {
      color: theme-color(success);
    }
  }
}

//== Knowledge Base Taxonomy

.terms.tax-kb-categories {
  .term {
    @include make-col-ready;
    @include make-col(12);

    @include media-breakpoint-up(md) {
      @include make-col(6);
    }

    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }

    .section-sidebar & {
      @include media-breakpoint-up(lg) {
        @include make-col(12);
      }
    }
  }

  &.no-gutters .term {
    padding-left: 0;
    padding-right: 0;
  }
}

.term-childrens {
  .term.term-children {
    margin-bottom: $spacer * 3;

    @include make-col-ready;
    @include make-col(12);

    @include media-breakpoint-up(md) {
      margin-bottom: $spacer * 5;

      @include make-col(6);
    }
  }

  .kb-item {
    @include media-breakpoint-up(md) {
      @include make-col(12);
    }

    .entry-title {
      // font-weight: normal;
    }

    .entry-link {
      // color: theme-color(primary);
      // opacity: 0.35;
      // color: grayscale(400);
    }
  }
}
